In [2]:
import pandas as pd
df = pd.read_csv('../data/jobs.csv')
print(df)

                   job_title                        skills_required education
0               Data Analyst         Python, SQL, Excel, Statistics     BS CS
1  Machine Learning Engineer  Python, ML, Statistics, Deep Learning     BS CS
2              Web Developer                  HTML, CSS, JavaScript     BS CS
3     Cyber Security Analyst    Networking, Linux, Security, Python     BS CS
4          Software Engineer     OOP, Data Structures, Python, Java     BS CS

In [4]:
df['text']= df["job_title"]+" " +df["skills_required"]
df[["job_title","text"]]

,job_title,text
0,Data Analyst,"Data Analyst Python, SQL, Excel, Statistics"
1,Machine Learning Engineer,"Machine Learning Engineer Python, ML, Statisti..."
2,Web Developer,"Web Developer HTML, CSS, JavaScript"
3,Cyber Security Analyst,"Cyber Security Analyst Networking, Linux, Secu..."
4,Software Engineer,"Software Engineer OOP, Data Structures, Python..."

In [8]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer=TfidfVectorizer()
job_vectors = vectorizer.fit_transform(df["text"])
job_vectors.shape

(5, 24)

In [9]:
from sklearn.metrics.pairwise import cosine_similarity
def recommend_career(user_input): 
    user_vector= vectorizer.transform([user_input])
    similarity_scores=cosine_similarity(user_vector,job_vectors)
    best_match_index=similarity_scores.argmax()

    return df.iloc[best_match_index]["job_title"]

In [11]:
recommend_career("Python SQL data analysis")

'Data Analyst'

In [12]:
recommend_career("network security linux")

'Cyber Security Analyst'

In [24]:
def skill_gap_analysis(user_skills, job_index):
    # Normalize user skills
    user_skills = user_skills.replace(",", " ").lower()
    user_skills_set = set(user_skills.split())

    # Normalize job skills
    job_skills = df.iloc[job_index]["skills_required"].lower()
    job_skills_set = set(job_skills.replace(",", " ").split())

    # Find missing skills
    missing_skills = job_skills_set - user_skills_set
    return list(missing_skills)

In [25]:
def recommend_with_skills(user_input):
    user_vector = vectorizer.transform([user_input])
    similarity_scores = cosine_similarity(user_vector, job_vectors)
    best_match_index = similarity_scores.argmax()
    
    career = df.iloc[best_match_index]["job_title"]
    missing_skills = skill_gap_analysis(user_input, best_match_index)
    
    return career, missing_skills

In [27]:
recommend_with_skills("python, SQL")

('Data Analyst', ['statistics', 'excel'])